.hf-form {
  margin: 8rem auto;
  max-width: $width-grid-base;
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);

  h1 {
    text-align: center;
  }

  .hf-fields-wrap {
    margin: auto;
    max-width: 80rem;
  }

  label {
    align-items: center;
    display: flex;
    gap: 1rem;
  }

  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  input[type="number"],
  input[type="month"],
  input[type="week"],
  input[type="email"],
  input[type="search"],
  textarea {
    display: block;
    width: 100%;
  }

  textarea {
    min-height: 25rem;
    resize: none;
  }

  .hf-message {
    text-align: center;
  }

  input[type="submit"] {
    @include button();
  }

  select {
    padding: 1.5rem;
  }
}
