:root {
  --icon-background: #b2b5bb;
  --icon-background-hover: #edeeef;
}

.site-footer {
  background-color: var(--color-valhalla);
  clear: both;
  color: var(--color-white);
  margin-top: auto;
  text-align: center;

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: $width-grid-base;
    padding: 4rem var(--padding-container-horizontal);
  }

  .footer-social {
    display: flex;
    gap: 4rem;

    a {
      background-color: var(--icon-background);
      border-radius: 100%;
      height: 4rem;
      padding: 1rem;
      width: 4rem;

      &:hover,
      &:focus {
        background-color: var(--icon-background-hover);
      }
    }

    svg {
      color: var(--color-valhalla);
      height: 2rem;
      width: 2rem;
    }
  }

  p,
  span {
    color: var(--color-white);
  }
}

.footer-content {
  a:hover,
  a,
  a:focus {
    color: var(--color-white);
    text-decoration: underline;
  }

  :first-child {
    margin-top: .6rem;
  }
}
